.header {
    background: $cl-header-bg;
    width: 100%;
    height: 100px;

}
.logo {
    position: relative;
    left: 40px;
    color: $cl-header-text;
    border-style: solid;
    border-width: medium;

}