doctype html
html
  head
    title my jade template
  body
    h1 Hello

//- DOCTYPE html
//- html
//-   head
//-     title DEASLY
//-   body
//-     header
//-       a.logo
//-       nav.menu
//-         ul
//-           li: a(href="#") Home
//-           li: a(href="#") 
//-           li: a(href="#") 
//-           li: a(href="#") Home
//-           li: a(href="#") Home
//-     div.banner 
//-       h1.title
//-       p.text
        
//-     div.search
        

       